import random as rnd

x = 1

y = input("Escribe tu nombre: " )
  
if y:
  print("Hola",y,"bienvenido a nuestra red social en desarroyo creada con python, The Blog")
else:
  print("Inserta tu nombre por favor")


